---
layout: default
title: Antarctica
img: antarctica
---

<div id="photography" class="page">

  <h1>Antarctica</h1>

  <img src="{{site.assets}}/photography/antarctica.jpg" alt="">

	<div class="text-block">
		<p>My photography took a sharp turn in the Fall of 2007 when I went to work at McMurdo Station, Antarctica. I was just a lowly dishwasher, scrubbing pots and moping floors, but it opened up the world to me. I saw things I never thought I'd see. I did things I never thought I'd do.</p>
		<p>And I found myself in a place that demanded attention. The contrast of ancient, striking beauty alongside 60 years of isolated, industrial human settlement pulled me in opposite directions: from the 12,000-foot steaming volcano and hour-long sunsets over a frozen ocean to the 2-million-gallon fuel tanks and constant rumble of heavy equipment. I saw everything through the lens of my camera. </p>
		<p>I took a <strong>shit load</strong> of photos.</p>
	</div>

  {% include warning.html %}

	<img src="{{site.assets}}/photography/c17.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/c17-crew-movie-watching.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/c17-passengers.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/trans-antarctic-mountains.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/c17-at-pegasus.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/c17-at-pegasus-passengers.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/meredith-and-mount-erebus.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/me-in-big-red.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/meredith-and-ben-at-the-ice-runway.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/bfc-party-flash.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/bri-and-morgan.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/bert-and-ernie.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/nate-the-power-plant-operator.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/nate-wwtp-1.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/nate-wwtp-2.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/chalet-sunset.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/dark-and-cloud-sunset.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/glowing-sunset.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/ran-glove.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/beards.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/tom-and-carl.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/ice-bubbles.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/pickle-in-the-snow.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/charred-truck.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/carl-and-meredith-storm.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/weather-condition-1.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/snowy-bikes.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/scotts-hut.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/scotts-hut-science.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/scotts-hut-penguin.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/the-today-show-ann-curry.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/bug.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/molly-bike-chock.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/delta.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/twin-otter.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/willy-field.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/weddell-seal.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/adelie-penguins-far.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/adelie-penguins-close.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/icestock.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/frank.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/snowy-drums.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/new-years-group.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/new-years-meredith.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/new-years-christine.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/shovels.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/church-midnight-sun.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/scott-base.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/ob-hill-cross.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/wind-blown-ice-blocks.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/nate-robin-meredith.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/ivan-the-terra-bus.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/meredith-and-robin.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/c17-to-christchurch.jpg" alt="">
		</div>
	</div>

  	<div style="clear:both"></div>

	<div class="text-block">
		<p>After only a few days at McMurdo I knew I would be returning. I sensed something very special about that place and 4 months was barely going to scratch the surface. The beauty, the community, the isolation: it wrapped its arms around me and I was at home.</p>
		<p>I had to come back to <b>The Ice</b>.</p>
	</div>

  	<img src="{{site.assets}}/photography/ice.jpg" alt="Antarctica: McMurdo to Christchurch">

	<div class="text-block">
		<p>Six months later I was back on the ice, this time as a Trades Helper, working with electricians, plumbers, painters, welders, linemen, and utility technicians. I had trouble keeping my camera in my pocket. It felt like I was shooting a world that no one had bothered shooting before because for most of my co-workers it was just a job. They'd soldered, welded, and wired things countless times before, and it didn't seem to matter much that this time it happened to be in Antarctica.</p>
		<p>My favorite part was showing them a photo of something they'd seen a thousand times, but from a different angle, and watching them smile.</p>
		<p>Who knew welding could be so beautiful?</p>
	</div>

	<div class="row">
		<div class="third">
			<img src="{{site.assets}}/photography/welding2.jpg" alt="Antarctica: Karl the Welder">
		</div>
		<div class="third">
			<img src="{{site.assets}}/photography/welding3.jpg" alt="Antarctica: Karl the Welder">
		</div>
		<div class="third">
			<img src="{{site.assets}}/photography/welding1.jpg" alt="Antarctica: Karl the Welder">
		</div>
	</div>

	<img src="{{site.assets}}/photography/solder.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/pump-label.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/stopper.jpg" alt="Antarctica: Drain Plug">
		</div>
	</div>

	<img src="{{site.assets}}/photography/crary-deluge-tank-me.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/crary-deluge-tank-walking.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/crary-deluge-tank-crouching.jpg" alt="">
		</div>
	</div>

	<div class="row">
		<div class="third">
			<img src="{{site.assets}}/photography/smoking-thomas.jpg" alt="Antarctica: Karl the Welder">
		</div>
		<div class="third">
			<img src="{{site.assets}}/photography/femc-xmas-party-walter.jpg" alt="Antarctica: Karl the Welder">
		</div>
		<div class="third">
			<img src="{{site.assets}}/photography/smoking-aaron.jpg" alt="Antarctica: Karl the Welder">
		</div>
	</div>

	<img src="{{site.assets}}/photography/smoking-baby.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/jack-the-lineman-in-his-office.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/jack-the-lineman-at-his-desk.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/linemen-at-work.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/insulated-pipes.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/drill-bit.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/pancake.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/pineapples.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/spoon-other-side.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/walter-the-plumber.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/doug-the-plumber.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/plumbing-shop.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/ironworkers.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="{{site.assets}}/photography/metal-colors.jpg" alt="">
		</div>
		<div class="half">
			<img src="{{site.assets}}/photography/teflon-tape.jpg" alt="">
		</div>
	</div>

	<img src="{{site.assets}}/photography/paint-chips.jpg" alt="">

	<div class="text-block">
  	<p>After a couple seasons working at McMurdo Station, the big city in Antarctic terms, the novelty started to wear off a little. It's kind of a dirty place, and it's loud. The backup beep of heavy equipment is a constant. And despite being in the middle of nowhere, it can get crowded: there are 1000+ people crammed into one tiny little town.</p>
  	<p>It never stopped being one of the most magical places I'd ever been, but I started to look toward the horizon. I'd heard about people getting "off station" and going "into the field", either by helicopter or plane. They were carpenters or riggers. They were going out into the cold, out into the wind, out where the science was happening. They came back to McMurdo with scratchy beards and hairy legs. It all seemed like a dream to me, but then that dream came true.</p>
	</div>

  <img src="/images/ice-clouds.jpg" alt="">
  
  <div class="text-block">
    <p>More text</p>
  </div>

  {% include adventures.html %}

</div>