---
layout: default
title: Fun Stuff
image: /images/me-fun.jpg
excerpt: "An old-school website with a list of fun stuff that I'm planning on doing. Please feel free to join in the fun!"
active: fun
---

<h1>Fun Stuff</h1>

<p>In an effort to distance myself from social media while providing an example of alternative ways of sharing things on the internet (remember websites?!), I give you this old-school list of fun stuff that I'm planning on doing. Feel free to join me!<p>

<hr />

{% for post in site.fun %}
  {% capture post_date %}{{ post.date | date: '%F' }}{% endcapture %}
  {% capture current_date %}{{ site.time | date: '%F' }}{% endcapture %}
  {% if post_date >= current_date %}
    <div class="post">
      <h3><a href="{{ post.link }}" target="_blank">{{ post.title }}</a></h3>
      <span class="post-date">{{ post.time }} • {{ post.location }}</span>
      <p>{{ post.description }}</p>
    </div>
  {% endif %}
{% endfor %}

<p><small><center>Last updated {{ site.time | date_to_string }}</center></small></p>
