---
layout: default
title: Photography
---

<div id="photography" class="page">

  <h1 class="page-title">Photography</h1>

  <img src="http://dnvbp7spvivuw.cloudfront.net/photography/hawaii.jpg" alt="Hawaii: Hot Lava on the Big Island">

  <div class="text-block">
    <p>I started taking photos when I was 15 years old, in photography class at Noblesville High School. With our hand-made pin-hole cameras in tow, my friends and I would search for abandoned trains &amp; run-down houses in rural Indiana. I loved getting lost in the woods and then finding something that had been lost to the world.</p>
    <p>It wasn't until my freshman year in college that I started playing around with digital photography. It began with an Olympus C4000, then a CoolPix 3100, a CoolPix 7600, a Canon Rebel XTi, and I've settled on the Rebel T1i for now. It's not amazing, but it gets the job done.</p>
    <p>If I had to give me style a name, it would probably be "documentary lifestyle." I like telling stories.</p>
  </div>

  {% include warning.html %}

  <img src="http://dnvbp7spvivuw.cloudfront.net/photography/banjo.jpg" alt="Banjo the Cat in Noblesville, Indiana">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/urchin-jr.jpg" alt="Urchin Jr">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/slater.jpg" alt="Slater">
		</div>
  </div>

  <img src="http://dnvbp7spvivuw.cloudfront.net/photography/80s-party.jpg" alt="HotBox 80s Party">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/pellet-gun.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/snow-ball-fight.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/andrew-and-gavin.jpg" alt="">

  <div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/hannah-and-mom.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/grandpa-and-bud.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/bone-a-fide.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/tulip-trestle.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/rooftop-quarry.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/4th-of-july-sillhouette.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/4th-of-july-fireworks.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/4th-of-july-smiles.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/my-25th-bday.jpg" alt="">

  <div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/bubble.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/paintball-mask.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/slater-and-urchin-jr.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/mickey-moo.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/rumi.jpg" alt="">
		</div>
	</div>

  <img src="http://dnvbp7spvivuw.cloudfront.net/photography/hot-air-balloon.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/matt-sunset.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/matches.jpg" alt="">
		</div>
	</div>

  <img src="http://dnvbp7spvivuw.cloudfront.net/photography/party-people.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/hannah-party.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/tyler-party.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/carhenge-nate.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/carhenge.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/carhenge-cars.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/ish-and-chip.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/cob-webs.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/metal-cable.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/seedlings.jpg" alt="">

	<div class="row">
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/moss-and-lichen.jpg" alt="">
		</div>
		<div class="half">
			<img src="http://dnvbp7spvivuw.cloudfront.net/photography/slug-hole.jpg" alt="">
		</div>
	</div>

	<img src="http://dnvbp7spvivuw.cloudfront.net/photography/car-reflection.jpg" alt="">

  <div class="text-block">
    <p>I really enjoy looking at the world through the lens of a camera: it allows me to see things differently, pulling back the curtain of an alternate reality. A photograph will never be able to fully capture the essence of actually seeing and experiencing something, but I get such a kick out of trying.</p>
  </div>

  {% include adventures.html %}

</div>
