---
---

$color: #ED6495;
$background: url(/public/background.png);

.panos-container{
  padding:15px;
  margin-right:auto;
  margin-left:auto;

  h2 {
    margin-top: 5px;
    text-align: center;
  }

  img {
    margin-top: 25px;
    margin-bottom: 5px;
  }

  p {
    font-size: 85%;
    margin-top: 0;
    color: #666;
  }

  p.intro {
    font-size: 100%;
    text-align: center;
  }

  .mobile-warning {
    p { color: white }
  }
}

body {
  font-size: 18px;
  font-weight: 100;
}

a {
  color: $color;
}

a:hover {
  text-decoration: none;
  color: #333;
}

.masthead a:hover {
  color: #333;
}

blockquote {
  padding: 1px 30px 1px 20px;
  margin: 25px 0;
  border-left: 5px solid #eee;
  color: #7a7a7a;
}

img {
  max-width:100%;
  height: auto;
}

.content {
  margin-top: 15px;
  max-width: 1170px;
}

.masthead {
  background-color: $color;
  background-image: $background;
}

p.lead { font-size: 17px }

p.inline-copy {
  font-size: 120%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.content h1 {
  margin-bottom: 20px;
  color: #333;
}

.mobile-warning {
  display: block;
  margin: 20px 0 40px 0;
  padding: 20px;
  border: 10px solid #eee;
  background-color: $color;
  background-image: $background;
  color: white;
  font-weight: bold;

  h3 {
    margin: 0 0 5px 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }
}

#home {
  .entries {
    padding: 0;
    list-style-type: none;

    h3,img { margin-top: 0 }

    .entry {
      p { margin-bottom: 0 }
      p.first-entry-excerpt {
        font-size: 23px;
      }
      p.more-text {
        margin-top: 10px
      }
    }

    .entry + .entry {
      margin-top: 20px;
      padding-top: 30px;
      border-top: 1px solid #eee;
    }
  }
}

#entry {
  img { margin: 15px 0 }

  p.date {
    margin: 40px 0 0 0;
    text-align: center;
    color: #999;
  }
}

#videography {

  .video {
    padding-bottom: 15px;
    border-bottom: 3px solid #eee;
    margin-bottom: 35px;

    h2 {
      font-size: 30px;
    }
  }

  .video:last-of-type {
    padding: 0;
    margin: 0;
    border: 0;
  }

  .videowrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

#footer {
  border-top: 10px solid #eee;
  padding-top: 30px;
  margin-top: 50px;

  .links {
    border-radius: 5px;
    margin: 35px 0 0 0;
    padding: 15px;
    background-color: #eee;

    hr {
      border: 0;
      height: 1px;
      margin: 20px 0;
      background: #ccc;
    }
  }

  ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;

    &.internal-links {
      display: table;
      margin: 20px auto 10px auto;
    }

    li {
      font-size: 16px;
      text-align: right;
    }
  }

  .contact ul li {
    text-align: left;
  }
}

#resume {

  h2 {
    padding-bottom: 3px;
    border-bottom: 3px solid #eee;
  }

  h3 { margin-bottom: 5px }
  h4 { margin: 0 0 20px 0 }

  ul {
    list-style-type: none;
    margin: 20px 0 30px 0;
    padding: 0;
  }

  .job {
    margin-bottom: 25px;

    p.time-frame {
      float: right;
      margin-top: -30px;
      font-weight: 400;
    }

    p.technologies {
      font-weight: 400;
    }
  }

  .job + .job {
    border-top: 1px solid #eee;
  }
}

#recipes {
  h2 {
    margin-top: 0;
    font-size: 170%;
  }

  img {
    margin-bottom: 40px;
  }
}

#recipe {
  h1 {
    font-size: 170%;
  }

  ol {
    margin-bottom: 40px;
  }
}

#photography {

  .text-block {
    margin: 40px 0;
  }

  h2 {
    margin: -20px 0 10px 0;
    color: #333;
  }

  #adventures {
    h3 {
      margin: 10px 0 5px 0;
    }

    a img, img.active {
      -webkit-filter: grayscale(1);
      -moz-filter: grayscale(1);
      filter: grayscale(1);
    }

    a img:hover {
      -webkit-filter: grayscale(0);
      -moz-filter: grayscale(0);
      filter: grayscale(0);
    }
  }

}

#about {
  h3 {
    color: $color;
    margin-top: 40px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .mobile-warning {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .masthead-inner h1 {
    font-size: 28px;
  }

  p.lead {
    font-size: 15px;
  }

  #videography .video h2 {
    font-size: 25px;
  }

  #photography h2 {
    font-size: 35px;
  }

  #footer {
    .contact {
      background-color: $color;
      background-image: $background;
      border-radius: 5px;
      color: #eee;
      padding: 15px 0 1px 0;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .contact a {
      color: #333;
    }

    .contact a:hover {
      text-decoration: none;
      color: #222;
    }

    .contact ul li, ul li {
      text-align: center;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .content {
    padding-top: 20px;
  }

  ul.colophon-links li {
    display: inline-block;
    list-style-type: none;
    padding: 0 10px 0 0;
    margin: 0 0 0 0;
    font-size: 15px;
  }

  #videography .video h2 {
    font-size: 20px;
  }

  #photography h2 {
    font-size: 30px;
  }

  #words .half {
    float: none;
    display: block;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  #photography .row {
    display: none;
  }

  #adventures .row {
    display: inline;
  }

  #photography {
    h2 {
      font-size: 20px;
    }
    #adventures .half {
      float: none;
      display: block;
      width: 100%;
    }
  }

  #videography .video h2 {
    font-size: 15px;
  }

  #stickers .half {
    float: none;
    display: block;
    width: 100%;
  }

  #about .half {
    float: none;
    display: block;
    width: 100%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}
