---
---

$color: #EA2869;

/*
#FA5416
#9542C2
#EA2869
#01ACB4
*/

/* LINK STYLEZ */

a:hover {
  text-decoration:none;
  color: $color;
}

.masthead a:hover {
  color: #333;
}

.half {
  width: 49%;
  float: left;
}

.row .half:first-of-type {
  margin-right: 2%;
}

.third {
  width: 32%;
  float: left;
}

.row .third {
  margin-right: 2%;
}

.row .third:last-of-type {
  margin-right: 0;
}

img {
  max-width:100%;
  height:auto;
}

.content {
  font-weight: 100;
  max-width: 1170px;
}

.masthead {
  background-color: $color;
}

.website {
  margin-bottom: 50px;
}

.content h1 {
  margin-bottom: 20px;
  color: $color;
}

#home {
  margin-top: 15px;
}

#footer {
  border-top: 10px solid #eee;
  padding-top: 30px;
  margin-top: 50px;

  img {
    margin-right: 20px;
    width: 25%;
    float:left
  }

  .cols {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 10px solid #eee;
  }

  .col:first-of-type ul li {
    text-align: left;
  }

  ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;

    li {
      font-size: 15px;
      text-align:right;
    }
  }

}


p.lead {
  font-size: 17px;
}

.cols {
  border: none;
}


.col {
  float: left;
  width: 33%;
}

#footer ul, #resume ul {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
}


#blog #posts {
  list-style-type: none;
  padding: 0;
}

#blog #posts .post p {
  margin: 0 0 20px 0;
}

#photography {

  .text-block {
    margin: 40px 0;
  }

  .mobile-warning {
    display: none;
    margin: 20px 0 40px 0;
    padding: 20px;
    border: 10px solid #eee;
    background: red;
    color: white;

    p {
      margin: 0;
      padding: 0;
    }
  }

}

@media (max-width: 600px) {

  #photography .row {
    display: none;
  }

  #photography .mobile-warning {
    display: block;
  }

  #stickers .half {
    float: none;
    display: block;
    width: 100%;
  }

  #footer .col {
    float: none;
    display: block;
    width: 100%;
  }

}

@media (max-width: 767px) {

  .content {
    padding-top: 20px;
  }

  ul.colophon-links li {
    display: inline-block;
    list-style-type: none;
    padding: 0 20px 0 0;
    margin: 0 0 0 0;
    font-size: 15px;
  }
}

@media (max-width: 989px) {

  .masthead-inner h1 {
    font-size: 28px;
  }

  p.lead {
    font-size: 15px;
  }
}

@media (min-width: 1400px) {
  .masthead {
    padding: 0 30px;
  }
}