---
---

$color: #ED6495;
$background: url(/public/background.png);

body {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 40px;
}

.nav-custom {
  background-color: $color;
  background-image: $background;
  margin-bottom: 40px;

  a { color: #fff; text-decoration: none; }
  a.active { color: #333 }
  a:hover { color: #333 }
}

h1 { font-weight: bold }

a {
  color: $color;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: #333;
    text-decoration: none;
  }
}

img, video {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 12px 0;
}

.mobile-warning {
  display: block;
  margin: 20px 0 40px 0;
  padding: 20px;
  border: 10px solid #eee;
  background-color: $color;
  background-image: $background;
  color: white;
}

#panos {
  h1 { text-align: center }

  p.intro {
    font-size: 100%;
    text-align: center;
  }

  p {
    text-align: left;
    font-size: 85%;
    margin: 0 0 40px 0;
    color: #666;
  }
}

#palmer, #about {
  p { margin: 40px 0 }
}

#resume {
  h2 {
    padding-bottom: 3px;
    border-bottom: 3px solid #eee;
  }

  h3 { margin-bottom: 5px }
  h4 { margin: 0 0 20px 0 }

  ul {
    list-style-type: none;
    margin: 20px 0 30px 0;
    padding: 0;
  }

  .job {
    margin-bottom: 25px;

    p.time-frame {
      float: right;
      margin-top: -30px;
      font-weight: 400;
    }

    p.technologies {
      font-weight: 400;
    }
  }

  .job + .job {
    border-top: 1px solid #eee;
  }
}

#photography {
  .text-block {
    margin: 40px 0;
  }
}

#footer {
  border-top: 5px solid #eee;
  padding-top: 30px;
  margin-top: 50px;

  .links {
    border-radius: 5px;
    margin: 35px 0 0 0;
    padding: 15px;
    background-color: #eee;
  }

  ul {
    list-style-type: none;
    margin-bottom: 20px;
    padding: 0;

    &.internal-links {
      display: table;
      margin: 20px auto 10px auto;
    }

    li {
      text-align: right;
    }
  }

  .contact ul li {
    text-align: left;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .mobile-warning { display: none }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .nav-custom { margin-bottom: 20px }

  #footer {
    .contact {
      background-color: $color;
      background-image: $background;
      border-radius: 5px;
      color: #eee;
      padding: 15px 0 1px 0;
      font-weight: bold;
      margin-bottom: 15px;

      a { color: #333 }
      ul li { text-align: center }
    }

    ul li { text-align: center }
  }
}
