<h2>Choose Your Own Adventure</h2>

<div id="adventures">

  {% for adventure in site.photography %}

      {% assign adventure_url_size = adventure.url | split:'/' | size %}

      {% if adventure_url_size == 3 %}

      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

      {% if thecycle == 'odd' %}
        <div class="row">
      {% endif %}

      <div class="adventure half">
        {% if page.url == adventure.url %}
          <h3>{{adventure.title}}</h3>
          <img class="active" src="{{site.assets}}/photography/{{adventure.img}}.jpg" alt="">
        {% else %}
          <a href="{{adventure.url}}">
            <h3>{{adventure.title}}</h3>
            <img src="{{site.assets}}/photography/{{adventure.img}}.jpg" alt="">
          </a>
        {% endif %}
      </div>

      {% if thecycle == 'even' %}
        </div>
      {% endif %}

    {% endif %}

  {% endfor %}

  <div style="clear:both"></div>

</div>
