<div id="footer">
  <div class="row">
    <div class="col-sm-12">
      <p>Hey there! I'm Eli. I live in Portland, Oregon. I grew up in Indiana, but the Pacific Northwest has always been my home away from home. I sing and play drums in <a href="http://hotwontquit.com" target="_blank">Hot Won't Quit</a>, I rollerskate with <a href="https://skatertots.org" target="_blank">Skater Tots</a> &amp; <a href="https://secretrollerdisco.org" target="_blank">Secret Roller Disco</a>, and I'm a web developer / carpenter / builder by trade.</p>
    </div>
  </div>

  <div class="row links">
    <div class="col-sm-12 col-md-6 contact">
      <ul>
        <li>Eli Duke</li>
        <li>Portland, OR</li>
        <li><a href="mailto:me@eliduke.com">me@eliduke.com</a></li>
        <li><a href="tel:424-354-3853">424-ELI-DUKE</a></li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <ul>
        <li>Projects</li>
        <li><a href="https://hotwontquit.com" target="_blank" class="url u-url">Hot Won't Quit</a></li>
        <li><a href="https://skatertots.org" target="_blank" class="url u-url">Skater Tots</a></li>
        <li><a href="https://secretrollerdisco.org" target="_blank" class="url u-url">Secret Roller Disco</a></li>
        <li><a href="https://poopypants.net" target="_blank" class="url u-url">Poopypants</a></li>
        <li><a href="https://freesmiles.org" target="_blank" class="url u-url">Free Smiles</a></li>
        <li><a href="https://audiofilms.net" target="_blank" class="url u-url">AudioFilms</a></li>
        <li><a href="https://thisamericanlife.co" target="_blank" class="url u-url">thisamericanlife.co</a></li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <ul>
        <li>Elsewheres</li>
        <li><a href="https://instagram.com/eliduke" target="_blank" class="url u-url" rel="me">Instagram</a></li>
        <li><a href="https://facebook.com/elimduke" target="_blank" class="url u-url" rel="me">Facebook</a></li>
        <li><a href="https://github.com/eliduke" target="_blank" class="url u-url" rel="me">Github</a></li>
        <li><a href="https://flickr.com/elisfanclub" target="_blank" class="url u-url" rel="me">Flickr</a></li>
        <li><a href="https://vimeo.com/eliduke" target="_blank" class="url u-url" rel="me">Vimeo</a></li>
        <li><a href="https://www.imdb.com/name/nm3612174" target="_blank" class="url u-url" rel="me">IMDB</a></li>
      </ul>
    </div>
  </div><!-- .links -->

  <!-- <div class="row">
    <div class="col-sm-12">
      <ul class="internal-links list-inline">
        <li><a href="/photography">Photos</a></li>
        <li><a href="/videography">Videos</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/atom.xml">RSS</a></li>
      </ul>
    </div>
  </div> -->

</div><!-- #footer -->
