<div id="footer">
  <div class="row">
    <div class="col-md-8">
      <p>Hey there! I'm Eli. I live in Portland, Oregon. I grew up in Indiana, but the Pacific Northwest has always been my home away from home. I sing and play drums in <a href="http://hotwontquit.com" target="_blank">Hot Won't Quit</a>, I rollerskate with <a href="https://skatertots.org" target="_blank">Skater Tots</a> &amp; <a href="https://secretrollerdisco.org" target="_blank">Secret Roller Disco</a>, and I'm a web developer / carpenter by trade.</p>
      <p>This is me and my neighbor Pop Tart. He's an indoor/outdoor dog that lives down the street and sometimes he stops by to bark at me from a distance, but sometimes he's chill and lets me pet him. On rare occassions I get to scoop him up for a bit. What a dreamboat, huh?!</p>
      <!-- <p>I am currently working at McMurdo Station, Antarctica, as a Carpenter Apprentice for the 2022-2023 summer season (October to February). I will be updating this blog about once a week, so check back regularly for updates or <a href="/atom.xml">subscribe to the RSS Feed</a>! If you want a bit more of the backstory, check out the <a href="/2022/06/28/i-am-going-back-to-antarctica/">first post on this blog</a>.</p> -->
    </div>
    <div class="col-md-4">
      <img src="/images/me-and-pop-tart.jpg" alt="Eli Duke">
    </div>
  </div>

  <div class="row links">
    <div class="col-sm-12 col-md-6 contact">
      <ul>
        <li>Eli Duke</li>
        <li>Portland, OR</li>
        <li><a href="mailto:me@eliduke.com">me@eliduke.com</a></li>
        <li><a href="tel:424-354-3853">424-354-3853</a></li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <ul>
        <li>Projects</li>
        <li><a href="https://hotwontquit.com" target="_blank" class="url u-url">Hot Won't Quit</a></li>
        <li><a href="https://skatertots.org" target="_blank" class="url u-url">Skater Tots</a></li>
        <li><a href="https://www.poopypants.net" target="_blank" class="url u-url">Poopypants</a></li>
        <li><a href="https://freesmiles.org" target="_blank" class="url u-url">Free Smiles</a></li>
        <li><a href="https://safety.eliduke.com" target="_blank" class="url u-url">Safety Manuals</a></li>
        <li><a href="http://www.audiofilms.net" target="_blank" class="url u-url">AudioFilms</a></li>
      </ul>
    </div>

    <div class="col-sm-6 col-md-3">
      <ul>
        <li>Elsewheres</li>
        <li><a href="https://instagram.com/eliduke" target="_blank" class="url u-url" rel="me">Instagram</a></li>
        <li><a href="https://facebook.com/elimduke" target="_blank" class="url u-url" rel="me">Facebook</a></li>
        <li><a href="https://github.com/eliduke" target="_blank" class="url u-url" rel="me">Github</a></li>
        <li><a href="https://flickr.com/elisfanclub" target="_blank" class="url u-url" rel="me">Flickr</a></li>
        <li><a href="https://vimeo.com/eliduke" target="_blank" class="url u-url" rel="me">Vimeo</a></li>
        <li><a href="https://www.imdb.com/name/nm3612174" target="_blank" class="url u-url" rel="me">IMDB</a></li>
      </ul>
    </div>
  </div><!-- .links -->

  <!-- <div class="row">
    <div class="col-sm-12">
      <ul class="internal-links list-inline">
        <li><a href="/photography">Photos</a></li>
        <li><a href="/videography">Videos</a></li>
        <li><a href="/recipes">Recipes</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/atom.xml">RSS</a></li>
      </ul>
    </div>
  </div> -->

</div><!-- #footer -->
