<div style="clear:both"></div>

<div id="footer">
  <img src="/public/eli-duke.jpg" alt="Eli Duke">
  <p class="p-note">Hey there! I'm Eli. I live in Portland, Oregon. I grew up in Indiana, but the Pacific Northwest has always been my home away from home. I sing and play drums in <a href="http://hotwontquit.com" target="_blank">Hot Won't Quit</a>, I'm a Ruby / Rails Developer at <a href="https://redbooth.com" target="_blank">Redbooth</a>, and all kinds of other cool stuff.</p>
  <p>Sometimes I take <a href="/photography">photos</a>, sometimes I shoot <a href="/videography">videos</a>, sometimes I build <a href="/web-design">websites</a>, sometimes I make <a href="/stickers">stickers</a>, and sometimes I cook <a href="/recipes">food</a>. Sometimes I walk and sometimes I run, sometimes I sing and sometimes I play drums. Click around if you want to learn more <a href="/about">about me</a>.</p>

  <div style="clear:both"></div>

  <div class="cols">
    <div class="col">
      <ul>
        <li>Eli Duke</li>
        <li>Portland, OR</li>
        <li><a href="mailto:elimduke@gmail.com">elimduke@gmail.com</a></li>
        <li><a href="tel:424-354-3853">424-354-3853</a></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li>Projects</li>
        <li><a href="https://hotwontquit.com" target="_blank" class="url u-url">Hot Won't Quit</a></li>
        <li><a href="http://poopypants.net" target="_blank" class="url u-url">Poopypants</a></li>
        <li><a href="https://freesmiles.org" target="_blank" class="url u-url">Free Smiles</a></li>
        <li><a href="https://safety.eliduke.com" target="_blank" class="url u-url">Safety Manuals</a></li>
        <li><a href="http://thisamericanlife.co" target="_blank" class="url u-url">thisamericanlife.co</a></li>
        <li><a href="http://listyourlist.com" target="_blank" class="url u-url">ListYourList</a></li>
        <li><a href="http://audiofilms.net" target="_blank" class="url u-url">AudioFilms</a></li>
        <li><a href="http://chedda.co" target="_blank" class="url u-url">Chedda</a></li>
        <li><a href="https://github.com/eliduke/COLORS" target="_blank" class="url u-url">COLORS</a></li>
      </ul>
    </div>

    <div class="col">
      <ul>
        <li>Elsewheres</li>
        <li><a href="https://github.com/eliduke" target="_blank" class="url u-url" rel="me">Github</a></li>
        <li><a href="http://flickr.com/elisfanclub" target="_blank" class="url u-url" rel="me">Flickr</a></li>
        <li><a href="https://twitter.com/eliduke" target="_blank" class="url u-url" rel="me">Twitter</a></li>
        <li><a href="http://instagram.com/eliduke" target="_blank" class="url u-url" rel="me">Instagram</a></li>
        <li><a href="https://facebook.com/elimduke" target="_blank" class="url u-url" rel="me">Facebook</a></li>
        <li style="display:none"><a href="http://www.flickr.com/people/elisfanclub/" class="url u-url" rel="me">(profile)</a></li>
        <li><a href="http://vimeo.com/eliduke" target="_blank" class="url u-url" rel="me">Vimeo</a></li>
        <li><a href="http://www.imdb.com/name/nm3612174" target="_blank" class="url u-url" rel="me">IMDB</a></li>
      </ul>
    </div>

    <div style="clear:both"></div>

  </div>

</div><!-- #footer -->
