---
---

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 nav-custom fs-2 fw-bold">
          <ul class="nav flex-row flex-lg-column justify-content-center py-3 pt-lg-3">
            <li><a href="/" class="p-3 {% if page.active == 'home' %} active{% endif %}">Home</a></li>
            <li><a href="/photography" class="p-3 {% if page.active == 'photos' %} active{% endif %}">Photos</a></li>
            <li><a href="/videography" class="p-3 {% if page.active == 'videos' %} active{% endif %}">Videos</a></li>
            <li><a href="/recipes" class="p-3 {% if page.active == 'recipes' %} active{% endif %}">Recipes</a></li>
            <li><a href="/about" class="p-3 {% if page.active == 'about' %} active{% endif %}">About</a></li>
            <li><a href="/fun" class="p-3 {% if page.active == 'fun' %} active{% endif %}">Fun</a></li>
          </ul>
        </div>
        <div class="col-lg-10 p-3 py-md-4 px-md-5">
          {{ content }}

          {% include footer.html %}
        </div>
      </div>
    </div>
    <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
  </body>
</html>
