body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #e9e9e9;
  margin-bottom: 30px;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #dcdcdc;
}

h1 {
  font-family: "Copperplate", "Copperplate Gothic Light", "fantasy";
  font-weight: bold;
  letter-spacing: -3px;
  margin: 0 0 20px 0;
  font-size: 350%;
}

img {
  margin: 10px 0 20px 0;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.footer img {
  margin: 5px 0;
}

.footer p {
  margin-bottom: 30px;
}

p {
  font-size: 150%;
}

p.main {
  font-size: 250%;
}

p.contact-info {
  text-align: right;
}

.hammers p {
  margin-bottom: 30px;
}

.hammers img {
  margin-bottom: 10px;
}

.navbar-default {
  background: #151515;
}

.navbar-brand {
  font-size: 300%;
  letter-spacing: -2px;
  margin-top: 10px;
  font-family: "Copperplate", "Copperplate Gothic Light", "fantasy";
}

.navbar-default .navbar-brand, .navbar-header a {
  color: #eee;
  text-decoration: none;
}

.navbar-default .navbar-brand:hover, .navbar-header a:hover {
  color: #eee;
  text-decoration: underline;
}

.navbar {
  border: 0;
  margin-bottom: 30px;
}

.navbar img {
  width: 150px;
  margin: 10px 0;
  float: right;
}

@media (max-width: 767px) {
  .navbar img {
    width: 100%;
    display: block;
    margin: 20px auto 10px auto;
    float: none;
  }

  .navbar-brand {
    display: none;
  }

  ul.nav-list {
    text-align: center;
    padding: 10px;
    font-size: 120%;
  }

  h1 {
    font-size: 265%;
  }

  p {
    font-size: 120%;
  }

  p.main {
    font-size: 150%;
  }

  p.contact-info {
    margin-top: 30px;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar img {
    display: none;
  }
}
